.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5dc; /* Beige background */
}

.App-header {
  min-width: 300px;
  padding: 40px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-input {
  margin: 10px 0;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: calc(100% - 22px); /* Adjust width based on padding and border */
}

button {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

button.signup-btn {
  background-color: #555555; /* Darker gray */
}
